page-login {

}
ion-header{
}
ion-title{
  text-align: center;
}
ion-header {
  .toolbar-background {
    background-color: #393534;
  }
}
#login-button2 {
  background-color: #0c1c8c;
}
.toolbar-title{
  color:white;

}
